<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="vertical-nav nav-background" th:fragment="sideNav">
         <div class="py-4 px-3 mb-4 nav-background">
             <div class="media d-flex align-items-center">
                 <div class="media-body">
                         <h4 class="m-0">MN School Data</h4>
                     </div>
             </div>
         </div>
         <p class="headerNav px-3 small pb-4 mb-0"><a th:href="@{/login}" class="nav-link text-dark font-italic nav-background">Login</a></p>
     </div>
</body>
</html>